<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="title">
        <img src="../../assets/icon/logo.png" alt="logo">
        <p>ordle</p>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-container">
      <div class="title">
        <h2>Statistiques</h2>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="count-container">
      <div class="count">
        <h2>Average tries : </h2>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="main">
  <div class="word-list">
    <div class="word-list-title" (click)="showAndHide()">
      <h3>Word list</h3>
      <ion-icon class="icon" name="caret-down-outline"></ion-icon>
    </div>
    <div class="word-list-container" [ngClass]="{'hide': showOrHide}">
      <div class="word-list-container-content">
        <p>Hello</p>
      </div>
    </div>
  </div>
</ion-content>
