.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem;
    img{
        max-height: 5vh;
    }
    p{
        margin: 0;
        font-size: 1.5rem;
    }
}
.title-container{
    background: #313131;
    .title{
        font-family: 'ABeeZee', sans-serif;
        h2{
            text-shadow: 1px 1px 5px black, -1px -1px 5px black;
        }
    }
}