<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="title">
        <img src="../../assets/icon/logo.png" alt="logo">
        <p>ordle</p>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-container">
      <div class="title">
        <h2>Statistiques</h2>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
