<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="title">
        <img src="../../assets/icon/logo.png" alt="logo">
        <p>ordle</p>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <div class="main">
    <div class="content">
      <app-matrix></app-matrix>  
    </div>
    <div class="clavier">
      <p *ngFor="let item of clavier" (click) ="setInputPress(item)" (click)="isClicked($event)" id="key_{{item}}">{{item}}</p>
    </div>
  </div>
  <app-win-modal *ngIf="!win"></app-win-modal>
  <app-lose-modal *ngIf="!lose"></app-lose-modal>
</ion-content>
