.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem;

    img {
        max-height: 5vh;
    }

    p {
        margin: 0;
        font-size: 1.5rem;
    }
}

.main {
    min-height: 85vh;
    position: relative;

    .clavier {
        position: absolute;
        bottom: 4.5rem;
        max-height: 15vh;
        display: flex;
        min-width: 100vw;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #CFCFCF;
        border-radius: 15px;

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: capitalize;
            text-align: center;
            color: #828282;
            font-weight: 900;
            transform: translateY(-33%);
            background-color: #CFCFCF;
            border: 3px solid #f4f4f4;
            padding: 0.5rem;
            margin: 4px 0;
            min-width: 9.8%;
            max-height: 40px;
            border-radius: 9px;
            box-shadow: 0 11px #828282;
            &:nth-child(27){
                width: 40%;
            }
            &:last-child {
                min-width: 50%;
                transform: translate(0);
            }
        }
        .btn-clicked{
            filter: brightness(0.75);
            transform: translateY(-25%) scaleY(0.8);
            color: black;
        }
    }
}